<div *ngIf="game">
  <h1>{{game.name}}</h1>
  <h3>id: {{game.id}}</h3>
  <h3>start room: {{game.start_room_id}}</h3>
  <h3>rooms: {{game.room_ids}}</h3>
  <h3>choices: {{game.choice_ids}}</h3>
</div>

<div class="col-md-8 col-md-offset-2">
  <form #f="ngForm" (ngSubmit)="onSubmit(f)" ngNativeValidate>
    <button type="submit" class="btn btn-primary"> save </button>
    <div class="form-group">
      <label for="name">Game Name</label>
      <input type="text"
        id="game-name"
        class="form-contol"
        [ngModel]="game?.name"
        name="name">

    </div>


    <div class="col-md-8 col-md-offset-2">
      <form #j="ngForm" (ngSubmit)="addRoom(j)" ngNativeValidate>
        <div class="form-group">
          <label for="name">Room Name</label>
          <input type="text"
                id="room-name"
                class="form-contol"
                [ngModel]="room?.name"
                name="name">
          <label for="description">Room Description</label>
          <input type="text"
                id="room-description"
                class="form-contol"
                [ngModel]="room?.description"
                name="description">

        </div>

        <button type="submit" class="btn btn-primary"> add room to game </button>
      </form>
    </div>

    <div class="panel-group">



      <div class="row">
        <div style="background-color: red;" class="col-sm-6">
          <div class="panel panel-default" *ngFor="let room of this.rooms; index as i;">
            <div class="panel-heading clearfix">
              <h4 class="panel-title pull-left" style="padding-top: 7.5px;">index: {{i}} temp_id: {{room.temp_id }}, id: {{room.id}},<br> name: {{room.name}},<br> description: {{room.description}},<br> game_id: {{room.game_id}},<br> start room: {{room.is_start_room}},<br> choices: {{room.choice_ids}}</h4>
              <div class="btn-group pull-right">
                <a (click)="setAsStartRoom(i)" class="btn btn-default btn-sm">set as start room</a>
              </div>
            </div>
            <div class="panel panel-body">
              <form #j="ngForm" ngNativeValidate>
                <div class="form-group">
                  <label for="name">Room Name</label>
                  <input type="text"
                        (keyup)="updateRoomAtIndex(j, i)"
                        id="room-name"
                        class="form-contol"
                        [ngModel]="room?.name"
                        name="name">
                  <label for="description">Room Description</label>
                  <input type="text"
                        (keyup)="updateRoomAtIndex(j, i)"
                        id="room-description"
                        class="form-contol"
                        [ngModel]="room?.description"
                        name="description">

                </div>
                <button type="button" class="btn btn-primary" name="button" (click)="addChoiceToRoom(room, i)"> add choice to room </button>
                <button type="button" class="btn btn-primary" name="button" *ngIf="is_picking_effect_room" (click)="setEffectRoom(room)"> set as effect room </button>
                <button type="button" class="btn btn-primary" name="button" (click)="removeRoom(room, i)">delete room</button>
              </form>
              <div class="panel-body" *ngFor="let choice of roomsChoices(room)">
                {{choice.summery}}
                →
                {{choiceResultRoomName(choice)}}
                <a *ngIf="!is_picking_effect_room" (click)="pickingEffectRoom(choice)" class="btn btn-default btn-sm">change result room</a>
              </div>
            </div>
          </div>
        </div>

        <div style="background-color: red;" class="col-sm-6">
          <div class="panel panel-default" *ngFor="let choice of this.choices; index as i;">
            <div class="panel-heading clearfix">
              <h4 class="panel-title pull-left" style="padding-top: 7.5px;">
                index: {{i}} id: {{choice.id}},<br> temp_id: {{choice.temp_id }},<br> summery: {{choice.summery}},<br> cause room: {{choice.cause_room_id}},<br> effect room: {{choice.effect_room_id}},<br> game: {{choice.game_id}}
              </h4>
            </div>
            <div class="panel panel-body">
              <form #f="ngForm" (ngSubmit)="updatechoiceAtIndex(f, i)" ngNativeValidate>
                <div class="form-group">
                  <label for="name">Choice Summery</label>
                  <input type="text"
                    (keyup)="updatechoiceAtIndex(f, i)"
                    id="choice-summery"
                    class="form-contol"
                    [ngModel]="choice?.summery"
                    name="summery">
                </div>
              </form>
              <button type="button" class="btn btn-primary" name="button" (click)="pickingEffectRoom(choice)">pick effect room</button>
              <button type="button" class="btn btn-primary" name="button" (click)="removeChoice(choice, i)">delete choice</button>
            </div>
          </div>
        </div>
      </div>


    </div>


    <button type="submit" class="btn btn-primary"> save </button>
  </form>
</div>
