<h1>game builder</h1>

<div class="col-md-8 col-md-offset-2">
  <form #f="ngForm" (ngSubmit)="onSubmit(f)" ngNativeValidate>
    <button type="submit" class="btn btn-primary"> save </button>
    <div class="form-group">
      <label for="name">Game Name</label>
      <input type="text"
        id="game-name"
        class="form-contol"
        [ngModel]="game?.name"
        name="name">

    </div>


    <div class="col-md-8 col-md-offset-2">
      <form #j="ngForm" (ngSubmit)="addRoom(j)" ngNativeValidate>
        <div class="form-group">
          <label for="name">Room Name</label>
          <input type="text"
                id="room-name"
                class="form-contol"
                [ngModel]="room?.name"
                name="name">
          <label for="description">Room Description</label>
          <input type="text"
                id="room-description"
                class="form-contol"
                [ngModel]="room?.description"
                name="description">

        </div>

        <button type="submit" class="btn btn-primary"> add room to game </button>
      </form>
    </div>

    <div class="panel-group">
      <div class="panel panel-default" *ngFor="let room of this.rooms; index as i;">
        <div class="panel-heading clearfix">
          <h4 class="panel-title pull-left" style="padding-top: 7.5px;">index: {{i}} id: {{room.id}}, name: {{room.name}}, description: {{room.description}}, game_id: {{room.game_id}}, start room: {{room.is_start_room}}</h4>
          <div class="btn-group pull-right">
            <a (click)="setAsStartRoom(i)" class="btn btn-default btn-sm">set as start room</a>
          </div>
        </div>
        <div class="panel panel-body">
          <form #j="ngForm" (ngSubmit)="updateRoomAtIndex(j, i)" ngNativeValidate>
            <div class="form-group">
              <label for="name">Room Name</label>
              <input type="text"
                    id="room-name"
                    class="form-contol"
                    [ngModel]="room?.name"
                    name="name">
              <label for="description">Room Description</label>
              <input type="text"
                    id="room-description"
                    class="form-contol"
                    [ngModel]="room?.description"
                    name="description">

            </div>

            <button type="submit" class="btn btn-primary"> save room changes </button>
          </form>
        </div>
      </div>
    </div>


    <button type="submit" class="btn btn-primary"> save </button>
  </form>
</div>
