.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.full-width-field {
  width: 100%;
}

.room-card-form {
  min-width: 300px;
  max-width: 500px;
  width: 100%;
}

.mat-card{
  background: #424242;
  color: white;
  margin-bottom: 10px;
}

.choice-tile{
  color: black;
  background-color: lightgreen;
}
.room-card{
  color: black;
  background-color: lightblue;
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.relative-one{
  position: fixed;
    bottom: 3%;
    left: 2%;
    right: 0;
    z-index: 2;
}
