.mat-grid-tile{
  padding-top: 100%;
}
.zzz{
  max-width: 40%;
}
.choice-tile{
  background-color: lightgreen;
}
.room-card{
  background-color: lightblue;
}
.yyy{
  max-width: 40%;
}

.mat-card{
  padding-top: 7%;
  padding-bottom: 7%;
  margin-top: 1%;
  margin-bottom: 1%;
}
