<form #f="ngForm" (ngSubmit)="onSubmit(f)" ngNativeValidate>
  <mat-card>
    <div *ngIf="game">
      <h1>
        <mat-form-field>
          <input
            matInput
            type="text"
            (keyup)="updateGameName(f)"
            id="game-name"
            class="form-contol"
            [ngModel]="game?.name"
            name="name">
        </mat-form-field>
      </h1>
      <h3>name: {{game.name}}</h3>
      <h3>id: {{game.id}}</h3>
      <h3>start room: {{game.start_room_id}}</h3>
      <h3>rooms: {{game.room_ids}}</h3>
      <h3>choices: {{game.choice_ids}}</h3>
    </div>
  </mat-card>

  <button mat-raised-button color="accent" type="submit">  save changes </button>

  <form class="example-form" #j="ngForm" (ngSubmit)="addRoom(j)" ngNativeValidate>
    <mat-card>
      <div >
        <mat-card-header>
          <mat-card-title>
            <h4> New room </h4>
          </mat-card-title>
        </mat-card-header>
        <br>
        <mat-card-content class="example-form">
          <mat-form-field>
            <input
            matInput
            type="text"
            id="room-name"
            class="form-contol"
            [ngModel]="room?.name"
            placeholder="Room Name"
            name="name">
          </mat-form-field>
          <br>
          <mat-form-field class="example-full-width">
            <textarea
            matInput
            type="text"
            id="room-description"
            class="form-contol"
            [ngModel]="room?.description"
            placeholder="Room Description"
            name="description">
            </textarea>
          </mat-form-field>
          <br>
          <button mat-raised-button type="submit"> add room to game </button>
        </mat-card-content>
      </div>

    </mat-card>

  </form>

  <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="50px">
    <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="15px">
      <mat-card fxFlex="20" *ngFor="let room of this.rooms; index as i;" class="room-card">
          <mat-card-header>
            <mat-card-title>
              <button mat-button type="button" name="button" (click)="setAsStartRoom(room, i)"> set as start room </button>
              <h4>
                index: {{i}}
                <br>temp_id: {{room.temp_id }},
                <br>id: {{room.id}},
                <br> name: {{room.name}},
                <br> description: {{room.description}},
                <br> game_id: {{room.game_id}},
                <br> start room: {{room.is_start_room}},
                <br> choices: {{room.choice_ids}}
              </h4>
            </mat-card-title>
          </mat-card-header>

          <mat-card-content>
            <form #j="ngForm" ngNativeValidate class="room-card-form">

                <mat-form-field>
                  <input
                  matInput
                  placeholder="Room Name"
                  type="text"
                  (keyup)="updateRoomAtIndex(j, i)"
                  [ngModel]="room?.name"
                  name="name">
                </mat-form-field>
                <br>
                <mat-form-field class="full-width-field">
                  <textarea
                  matInput
                  placeholder="Room Description"
                  type="text"
                  (keyup)="updateRoomAtIndex(j, i)"
                  [ngModel]="room?.description"
                  name="description">
                  </textarea>
                </mat-form-field>
                <br>
              <button mat-button type="button" name="button" (click)="addChoiceToRoom(room, i)"> add choice to room </button>
              <button mat-button type="button" name="button" *ngIf="is_picking_effect_room" (click)="setEffectRoom(room)"> set as effect room </button>
              <!-- <button mat-button color="accent" type="button" name="button" (click)="removeRoom(room, i)">delete room</button> -->
            </form>
            <div class="panel-body" *ngFor="let choice of roomsChoices(room)">
              <h3>{{choice.summery}} → {{choiceResultRoomName(choice)}}</h3>
              <br>
              <a mat-button *ngIf="!is_picking_effect_room" (click)="pickingEffectRoom(choice)">change result room</a>
            </div>
          </mat-card-content>
          <mat-card-footer>
            <button mat-button color="accent" type="button" name="button" (click)="removeRoom(room, i)">delete room</button>
          </mat-card-footer>
      </mat-card>

    </div>


    <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="15px">
      <mat-card fxFlex="66" *ngFor="let choice of this.choices; index as i;" class="choice-tile">
          <mat-card-header>
            <mat-card-title>
              <!-- <h4>
                index: {{i}} id: {{choice.id}},
                <br> temp_id: {{choice.temp_id }},
                <br> summery: {{choice.summery}},
                <br> cause room: {{choice.cause_room_id}},
                <br> effect room: {{choice.effect_room_id}},
                <br> game: {{choice.game_id}}
              </h4> -->
            </mat-card-title>
          </mat-card-header>

          <mat-card-content>
            <form #f="ngForm" (ngSubmit)="updatechoiceAtIndex(f, i)" ngNativeValidate>
              <div class="form-group">
                <mat-form-field>
                  <input
                  matInput
                  placeholder="choice text"
                  type="text"
                  (keyup)="updatechoiceAtIndex(f, i)"
                  id="choice-summery"
                  class="form-contol"
                  [ngModel]="choice?.summery"
                  name="summery">
                </mat-form-field>

              </div>
            </form>
            <h3>{{roomNameFor(choice.cause_room_id)}} → {{roomNameFor(choice.effect_room_id)}}</h3>
            <button mat-button type="button" (click)="pickingEffectRoom(choice)">pick effect room</button>
            <button mat-button type="button" (click)="removeChoice(choice, i)">delete choice</button>
          </mat-card-content>
      </mat-card>

    </div>

  </div>


  <button mat-raised-button color="accent" type="submit"> save changes </button>
</form>
