.choice-tile{
  background-color: lightgreen;
}
.room-card{
  background-color: lightblue;
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}


.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.full-width-field {
  width: 100%;
}

.room-card-form {
  min-width: 300px;
  max-width: 500px;
  width: 100%;
}
