<div class="">
  <!-- <a *ngIf="!user_is_authenticated" [routerLink]="['/auth/login']" class="btn btn-default btn-sm">login</a>
  <a *ngIf="!user_is_authenticated" [routerLink]="['/auth/signup']" class="btn btn-default btn-sm">sign up</a>
  <a *ngIf="user_is_authenticated" [routerLink]="['/user']" class="btn btn-default btn-sm">profile</a>
  <a *ngIf="user_is_authenticated" [routerLink]="['/builder']" class="btn btn-default btn-sm">new game</a> -->

  <!-- "copies sans auth" -->
  <a  [routerLink]="['/builder']" class="btn btn-default btn-sm">new game</a>
  <a  [routerLink]="['/auth/signup']" class="btn btn-default btn-sm">sign up</a>

  <a [routerLink]="['/public']" class="btn btn-default btn-sm">games</a>

</div>
