
<mat-toolbar>
  <span>
  <a [routerLink]="['/']">Another Text Adventure</a>
</span>
<span class="spacer"></span>
<ul>
  <li>
    <a mat-button [routerLink]="['/public']">games</a>
  </li>
  <li *ngIf="!user_is_authenticated">
    <a mat-button [routerLink]="['/auth/login']">login</a>
  </li>
  <li *ngIf="!user_is_authenticated">
    <a mat-button [routerLink]="['/auth/signup']" >sign up</a>
  </li>
  <li *ngIf="user_is_authenticated">
    <a mat-button  [routerLink]="['/user']" >profile</a>
  </li>
  <li *ngIf="user_is_authenticated">
    <a mat-button  [routerLink]="['/builder']" >new game</a>
  </li>

</ul>
</mat-toolbar>
