<div fxLayout="column" fxLayoutAlign="center">

  <form fxLayout="column" fxLayoutAlign="center, center" #f="ngForm" (ngSubmit)="onSubmit(f)" ngNativeValidate>

    <mat-form-field>
      <label for="email">email</label>
      <input
        matInput
        type="email"
        required
        email
        [ngModel]="user?.email"
        name="email">
    </mat-form-field>
    <br>

    <mat-form-field>
      <label for="password">password</label>
      <input
        matInput
        type="password"
        required
        [ngModel]="user?.password"
        name="password">
    </mat-form-field>
    <br>

    <button mat-button [disabled]="!f.valid" type="submit" class="login-button"> login </button>

  </form>

</div>
