<form #f="ngForm" (ngSubmit)="onSubmit(f)" ngNativeValidate>
  <div class="form-group">
    <label for="first_name">first name</label>
    <input type="text"
      id="first-name"
      class="form-contol"
      [ngModel]="user?.first_name"
      name="first_name">

    <br>

    <label for="last_name">last name</label>
    <input type="text"
      class="form-contol"
      [ngModel]="user?.last_name"
      name="last_name">

    <br>

    <label for="email">email</label>
    <input type="email"
      required
      email
      [ngModel]="user?.email"
      name="email">

    <br>

    <label for="password">password</label>
    <input type="password"
      required
      [ngModel]="user?.password"
      name="password">

    <br>

    <button [disabled]="!f.valid" type="submit" class="btn btn-primary"> submit </button>
  </div>

</form>
