<div fxLayout="column" fxLayoutAlign="center">

  <form fxLayout="column" fxLayoutAlign="center, center" #f="ngForm" (ngSubmit)="onSubmit(f)" ngNativeValidate>
    <h3>Sign on up!</h3>

    <mat-form-field>
      <label for="first_name">first name</label>
      <input
        matInput
        type="text"
        id="first-name"
        class="form-contol"
        [ngModel]="user?.first_name"
        name="first_name">
    </mat-form-field>

    <mat-form-field>
      <label for="last_name">last name</label>
      <input
        matInput
        type="text"
        class="form-contol"
        [ngModel]="user?.last_name"
        name="last_name">
    </mat-form-field>

    <mat-form-field>
      <label for="email">email</label>
      <input
        matInput
        type="email"
        required
        email
        [ngModel]="user?.email"
        name="email">
    </mat-form-field>

    <mat-form-field>
      <label for="password">password</label>
      <input
        matInput
        type="password"
        required
        [ngModel]="user?.password"
        name="password">
    </mat-form-field>

    <button mat-button [disabled]="!f.valid" type="submit" class="signup-button"> submit </button>


  </form>

</div>
